.GoodBlock 
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

.Button 
{
    text-align: center;
    width: 70px;
    height: 20px;
    font-size: 14px;
}

.FirstChild
{
    margin-left: 39%;
}