.GoodsList .GoodRow
{
    background:white;
}

.GoodsList .GoodItem
{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 200px;
}

.GoodsList .GoodRowSelected
{
    background:rgb(223, 116, 134);
}

.GoodsList .Input 
{
    width: 80px;
    height: 30px;
    background: rgb(31, 68, 148);
    border: 0;
    color:white;
    cursor: pointer;
    margin-right: 5px;    
}

.GoodsList .Input:disabled 
{
    background: rgb(118, 126, 143);
}

